# Copyright (c) 2019, Nordic Semiconductor ASA
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig QSPI_NRFX
	bool "nRF QSPI nrfx drivers"
	default y
	depends on SOC_FAMILY_NRF
	help
	  Enable support for nrfx QSPI drivers for nRF MCU series.

if QSPI_NRFX

choice
	prompt "QSPI Port 0 Driver type"

config QSPI_NRF_QSPI
	bool "nRF QSPI"
	depends on HAS_HW_NRF_QSPI
	select NRFX_QSPI
	help
	  Enable nRF QSPI Master with EasyDMA.

endchoice

endif # QSPI_NRFX
